.App 
{
  display: flex;
  height: 100vh;
  background-color: #1d1c18;
}

::-webkit-scrollbar 
{
  background-color: #22211c;
  width: 15px;
}
  
::-webkit-scrollbar-thumb 
{
  background-color: #585337;
  border-radius: 9em;
}
  
::-webkit-scrollbar-thumb:hover 
{
  background-color: #7e764a;
  border-radius: 9em;
}

.Main 
{
  text-align: center;
  display: flex;
  background-color: #1d1c18;
  flex-direction: column; 
  height: 100vh;
  width: 80%;
}

.ButtonsPanel 
{
  flex-direction: row;
  display: flex;
  align-items: flex-end;
}

.IconButton
{
  margin-top: 20px;
  margin-left: 30px;
  width: 40px;
  height: 40px;
  border: none;
}

.IconButton:focus
{
  outline: none;
}

.IconButton:hover
{
  cursor: pointer;
  filter: brightness(3);
}

.Icon
{
  width: 40px;
  background: url(./icons/icons8-создать-новый-48.png);
  background-size: 40px 40px;
}

.Left
{
  background: url(./icons/icons8-u---образная-стрелка-влево-50.png);
  background-size: 40px 40px;
}

.Right
{
  background: url(./icons/icons8-u---образная-стрелка-вправо-50.png);
  background-size: 40px 40px;
}

.kr
{
  background: url(./icons/icons8-заполненный-круг-50.png);
  background-size: 40px 40px;
  align-items: "center";
}

.tr
{
  background: url(./icons/icons8-треугольник-50.png);
  background-size: 40px 40px;
  align-items: "center";
}

.kv
{
  background: url(./icons/icons8-прямоугольник-50.png);
  background-size: 40px 40px;
  align-items: "center";
}

.Text
{
  background: url(./icons/icons8-добавить-текст-50.png);
  background-size: 40px 40px;
}

.Picture
{
  background: url(./icons/icons8-очень-большие-иконки-50.png);
  background-size: 40px 40px;
}

.BackgroundImage 
{
  background: url(./icons/icons8-редактирование-изображения-50.png);
  background-size: 40px 40px;
}

.DeleteSlide 
{
  background: url(./icons/icons8-удалить-навсегда-50.png);
  background-size: 40px 40px;
}

.AlgL
{
  background: url(./icons/icons8-выровнять-по-левому-краю-60.png);
  background-size: 30px 30px;
}

.AlgC
{
  background: url(./icons/icons8-выровнять-по-центру-60.png);
  background-size: 30px 30px;
}

.AlgR
{
  background: url(./icons/icons8-выровнять-по-правому-краю-60.png);
  background-size: 30px 30px;
}

.Bld
{
  background: url(./icons/icons8-жирный-50.png);
  background-size: 30px 30px;
}

.Itl
{
  background: url(./icons/icons8-курсив-50.png);
  background-size: 30px 30px;
}

.Und
{
  background: url(./icons/icons8-подчеркивание-50.png);
  background-size: 30px 30px;
}

.wrapper
{
  position: relative;
  width: 100px;
}

.FileMenuWrapper 
{
  height: 0;
}

.FileMenuButton 
{
  position: relative;
  width: 100px;
  margin: 0 auto;
  padding: 12px 15px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-out;
  border: none;
  font-family: Tahoma;
}

.FileMenuButton:hover 
{
  background: rgb(255, 251, 188);
}

.FileMenu 
{
  width: 100px;
  box-sizing: border-box;
  background: #fff;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.2);
}

.FileMenuItem
{
  padding: 6px 10px;
  cursor: pointer;
}

.FileMenuItem:hover
{
  background: rgba(0,0,0,0.05);
}

 .FileMenuButton:after 
 {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #cfbb03 transparent;
 }
 
.FileInput 
{
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.Menu 
{
  width: 20%;
}

.NamePresentation
{
  width: 300px;
  height: 40px;
  margin-left: 20px;
  margin-top: 20px;
  outline: none;
  border: none;
  background: none;
  color:#fafaf9;
  font-size: 30px;
  font-family: Tahoma;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
}

.NamePresentation:hover
{
  cursor: pointer;
}

.NamePresentation:focus
{
  cursor: auto;
}

.TextSize
{
  width: 50px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  background: none;
  color: #fafaf9;
  font-size: 20px;
  font-family: Tahoma;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
}

.TextSize:hover
{
  cursor: pointer;
}

.TextSize:focus
{
  cursor: auto;
}

.WorkArea
{
  margin-top: 50px;
  background-color: #000;
}

.CurrentSlide
{
  width: 70%;
  height: 70vh;
  margin-top: 30px;
  margin-bottom: 30px;
}

.Element
{
  width: 20%;
  height: 20%;
}
  
.SlidesList
{
  display: flex;
  flex-direction: column;
  width: 340px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  border: 4px;
  border-color: #fff;
  overflow-y: scroll;
  overflow-x: none;
  background: #1d1c18;
  cursor: pointer;
}
  
.SlideWrapper
{
  display: flex;
  align-items: center;
}

.SlideNumber 
{
  color: #fff;
}

.Slide
{
  display: flex;
  margin-bottom: 20px;
  margin-left: 15px;
  background-size: cover
}

li
{
  list-style-type: none;
}

p
{
  margin: 0;
}


textarea
{
  overflow: hidden;
  border: none;
  min-width: 1px;
  min-height: 1px;
  resize: none;
  background: none;
  padding-left: 0px;
}

textarea:focus
{
  outline: none;
}

.IconRadio
{
  margin-top: 20px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border: none;
}

input[type=radio]
{
  display: none;
}

input[type=checkbox]
{
  display: none;
}

input[type=radio]:focus
{
  filter: brightness(3)
}

input[type=checkbox]:focus
{
  filter: brightness(3)
}

input[type=radio]:checked + label
{
  filter: brightness(3)
}

input[type=checkbox]:checked + label
{
  filter: brightness(3)
}

.slideShow {
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  flex-direction: column;
  transition: 'display 0.5s'
}

.show
{
  margin-top: 20px;
  margin-left: 30px;
  width: 40px;
  height: 40px;
  border: none;
  opacity: .3
}

.show:focus
{
  outline: none;
}

.show:hover
{
  cursor: pointer;
  opacity: 1
}

.next
{
  background: url(./icons/icons8-длинная-стрелка-вправо-50.png);
  background-size: 40px 40px;
}

.prev
{
  background: url(./icons/icons8-длинная-стрелка-влево-50.png);
  background-size: 40px 40px;  
}

.prevNext {
  display: flex
}

.FileMenuButtonShow 
{
  position: relative;
  width: 130px;
  margin: 0 auto;
  padding: 12px 15px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-out;
  border: none;
  font-family: Tahoma;
  font-size: 17px;
}

.FileMenuButtonShow:hover 
{
  background: rgb(255, 251, 188);
}