.App {
  display: flex; 
  height: 100%;
  background-color: #e9ce59;
}

.Main {
  text-align: center;
  display: flex;
  background-color: #000000;
  flex-direction: column;
  height: 100vh;
  width: 80%;
}

.Menu {
  width: 20%;
}

.WorkArea {
  width: 100%;
  height: 80vh;
  background-color: #000000;
}

.SlidesList {
  width: 100%;
  height: 20vh;
  background-color: #cfbb03;
}

.Slide {
  width: 30vh;
  height: 15vh;
  background-color: #fafaf9;
  display: flex; 
  margin-top: 20px;
  margin-left: 30px;  
}

.Slide {
  display: flex; 
  width: 100%;
  height: 100%;
}