.App 
{
  display: flex;
  height: 100vh;
  background-color: #1d1c18;
}

::-webkit-scrollbar 
{
  background-color: #22211c;
  width: 15px;
}
  
::-webkit-scrollbar-thumb 
{
  background-color: #585337;
  border-radius: 9em;
}
  
::-webkit-scrollbar-thumb:hover 
{
  background-color: #7e764a;
  border-radius: 9em;
}
  
.Main 
{
  text-align: center;
  display: flex;
  background-color: #1d1c18;
  flex-direction: column; 
  height: 100vh;
  width: 80%;
}

.ButtonsPanel 
{
  flex-direction: row;
}

.IconButton
{
  margin-top: 20px;
  margin-left: 40px;
  width: 40px;
  height: 40px;
  border: none;
}

.Icon
{
  width: 40px;
  background: url(./icons/icons8-создать-новый-48.png);
  background-size: 40px 40px;
}

.hidden 
{
  display: none;
}

.IconButton:focus
{
  outline: none;
}

.IconButton:hover
{
  cursor: pointer;
  filter: brightness(3);
}

.Left
{
  background: url(./icons/icons8-u---образная-стрелка-влево-50.png);
  background-size: 40px 40px;
}

.Right
{
  background: url(./icons/icons8-u---образная-стрелка-вправо-50.png);
  background-size: 40px 40px;
}

.kr
{
  background: url(./icons/icons8-заполненный-круг-50.png);
  background-size: 40px 40px;
}

.tr
{
  background: url(./icons/icons8-треугольник-50.png);
  background-size: 40px 40px;
}

.kv
{
  background: url(./icons/icons8-прямоугольник-50.png);
  background-size: 40px 40px;
}

.Text
{
  background: url(./icons/icons8-текст-50.png);
  background-size: 40px 40px;
}

.Picture
{
  background: url(./icons/icons8-очень-большие-иконки-50.png);
  background-size: 40px 40px;
}

.Menu 
{
  width: 20%;
}

.NamePresentation
{
  width: 300px;
  height: 40px;
  margin-left: 20px;
  margin-top: 20px;
  outline: none;
  border: none;
  background: none;
  color:#fafaf9;
  font-size: 30px;
  font-family: Tahoma;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
}

.NamePresentation:hover
{
  border: 1px solid #e5e5e5;
  cursor: pointer;
}

.NamePresentation:focus
{
  box-shadow: 0 0 0 1px #1d1c18, 0 0 0 2px #e5e5e5;
  background: #fff;
  color: #1d1c18;
  cursor: auto;
}

.WorkArea
{
  margin-top: 50px;
  background-color: #000;
}

.CurrentSlide
{
  width: 70%;
  height: 70vh;
  margin-top: 30px;
  margin-bottom: 30px;
}

.Element
{
  width: 20%;
  height: 20%;
}
  
.SlidesList
{
  display: flex;
  flex-direction: column;
  width: 340px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  border: 4px;
  border-color: #ffffff;
  overflow-y: scroll;
  overflow-x: none;
  background: #1d1c18;
  cursor: pointer;
}
  
.SlideWrapper
{
  display: flex;
  align-items: center;
}

.SlideNumber 
{
  color: #fff;
}

.Slide
{
  width: 240px;
  height: 140px;
  display: flex;
  margin-bottom: 20px;
  margin-left: 15px;
  background-size: cover
}

li
{
  list-style-type: none;
}